.col-xs-8 {
	padding-top: 10px;
	/*margin-left: 20px;*/
}

.col-xs-4 {
	height: 510px;
	width: 100%
}

.row-fluid {
	padding-top: 10px;
	margin: 0 auto 0 auto;
}

#map {
    width: 750px;
    height: 500px;
    margin: 0 auto 0 auto;
}

.zipSearch {
	padding-top: 10px;
	margin: 0 auto 0 auto;
	font-size: 15px;
}

#doughnut {
	margin-top: 10px;
  	/*left: 0px;*/
  	margin: 0 auto 0 auto;
}

#pie {
	margin-top: 10px;
  	/*right: 0px;*/
  	/*padding-right: 0px;*/
  	margin: 0 auto 0 auto;
}

.doughnut-legend {
    padding-top: 0px;
    width: 230px;
    margin: 0 auto 0 auto;
    padding-bottom: 5px;
}

.doughnut-legend li {
    list-style-type: none;
    text-align: left;
}

.pie-legend {
	padding-top: 0px;
	width: 230px;
	margin: 0 auto 0 auto;
	padding-bottom: 20px;
}

.pie-legend li {
    list-style-type: none;
    text-align: left;
}

.pie-legend li span {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}

.doughnut-legend li span{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}
	
.svg-container {
	margin-right: 0px;
}

.answers {
	font-size: 20px;
}

#container {
    width:300px;   
    margin:0px auto;   
    padding: 40px 0;   
} 

#scrollbox {   
    width:400px;   
    height:300px;    
    overflow: auto; overflow-x:hidden;   
}  

#avgCapacity{
	margin: 0 auto 0 auto;
	margin-top: 80px;
	height: 180%;
	width: 180%;
}

#lineChart {
	margin: 0 auto 0 auto;
	/*margin-top*/
	height: 70%;
}

p.parsley-success {
  color: #468847;
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6;
}

p.parsley-error {
  color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
}

.form-wrapper {
	margin: 30px auto;
  	max-width: 600px;
  	text-align: left;
}


