.col-xs-8 {
	padding-top: 10px;
	/*margin-left: 20px;*/
}

.col-xs-4 {
	height: 510px;
	width: 100%
}

.col-xs-6 {
  height: 600px;
  width: 100%;
  padding-top: 70px;
}

.row-fluid {
	padding-top: 10px;
	margin: 0 auto 0 auto;
}

#map {
    width: 750px;
    height: 500px;
    margin: 0 auto 0 auto;
}

.zipSearch {
	padding-top: 10px;
	margin: 0 auto 0 auto;
	font-size: 15px;
}

#doughnut {
	margin-top: 10px;
  	/*left: 0px;*/
  	margin: 0 auto 0 auto;
}

#pie {
	margin-top: 10px;
  	/*right: 0px;*/
  	/*padding-right: 0px;*/
  	margin: 0 auto 0 auto;
}

.doughnut-legend {
    padding-top: 0px;
    width: 230px;
    margin: 0 auto 0 auto;
    padding-bottom: 5px;
}

.doughnut-legend li {
    list-style-type: none;
    text-align: left;
}

.lineChart-legend {
  text-align: left;
  float: right;
  padding-top: 75px;
  padding-left: 0;
  margin-left: -5px;
}

.pie-legend {
  padding-top: 0px;
  width: 230px;
  margin: 0 auto 0 auto;
  padding-bottom: 20px;
}

.pie-legend li {
    list-style-type: none;
    text-align: left;
}

.pie-legend li span {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}

.doughnut-legend li span{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}

.svg-container {
  margin: 0 auto;
}

#calculator {
  padding-left: 30px;
  padding-right: 30px;
}

.table td {
  text-align: left;
  width: 50px;
}

.table-responsive {
  width: 35%;
  margin: 0 auto 0 auto;
  padding-top: 30px;
}

#container {
    width:300px;   
    margin:0px auto;   
    padding: 40px 0;   
} 

#scrollbox {   
    width:400px;   
    height:300px;    
    overflow: auto; overflow-x:hidden;   
}  

#sumCapacity{
  height: 250px;
  width: 250px;
  padding-top: 30px;
  margin: 0 auto 0 auto;
}

#lineChart {
	padding-left: 0;
  height: 300px;
  width: 450px;
  padding-top: 30px;
}

p.parsley-success {
  color: #468847;
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6;
}

p.parsley-error {
  color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
}

.form-wrapper {
	margin: 30px auto;
  max-width: 600px;
  text-align: left;
}

.about {
  max-width: 850px;
  margin: 0 auto 0 auto;
  padding-top: 20px;
}

input.parsley-success,
select.parsley-success,
textarea.parsley-success {
    color: #468847;
    background-color: #F2F9F0 !important;
    border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
    color: #B94A48;
    background-color: #F9F0F0 !important;
    border: 1px solid #f09784;
}

.parsley-errors-list {
    list-style-type: none;
    opacity: 0;
    transition: all .3s ease-in;

    color: #d16e6c;
    margin-top: 5px;
    margin-bottom: 0;
  padding-left: 0;
}

.parsley-errors-list.filled {
    opacity: 1;
}
