
<!DOCTYPE html>
<html>
<head>
  <title>dump_db</title>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<script src="http://code.jquery.com/jquery.js"></script> 
  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
  	</script>
  	{% block head %}HEAD CONTENT GOES HERE{% endblock %}

</head>

<h1>dump_db</h1>

<body>


{% block body %}BODY CONTENT GOES HERE{% endblock %}
</body>

<!-- <script src="script.js"></script> -->
</html>