{% extends 'base.html' %}
{% block content %}

<h1>dump db</h1>

<script>

function validateForm() {
    var x = document.forms["myForm"]["fname"].value;
    if (x == null || x == "") {
        alert("Please fill in a zipcode");
        return false;
    }
}
</script>
<body>

  <form action="/search" onsubmit="return validateForm()">
  	<input type="radio" name="waste" value="waste">Waste<br> 
  	<input type="radio" name="waste" value="recycling">Recycling<br>
  	<input type="radio" name="waste" value="compost">Compost<br>

    <input type="text" name="zipcode" value="Enter your zipcode">
    <input type="submit" value="submit">
  </form>
</body>

<h2>Description</h2>

{% endblock %}