{% extends 'base.html' %}
{% block head %}

<script src="https://maps.googleapis.com/maps/api/js"></script>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="/static/script.js" type='text/javascript'></script>
<script src="/static/map.js" type='text/javascript'></script>
<!-- <link rel="stylesheet" href="map.css"> -->

<style>
  #map {
    width: 650px;
    height: 450px;
    margin: 0 auto 0 auto;
  }
</style>

    <!-- // <script src="/static/map.js"></script> -->

{% endblock %}

{% block body %}

<form action="/zipSearch">
    <label for="zipSearch">Find where your trash goes: </label>
    <input type="text" name="zipcode" value="Enter a zipcode">
    <input type="submit" value="search">
</form>
</div>

<div class="ui widget">
<form action="/stateList">
    <label for="autocompleteState">State landfill list: </label>
    <input name="state" id="autocompleteState" value="Enter a state">
    <input type="submit" value="search">
</form>
</div>

<!-- The element that contains the Google Map. This is used in both the Javascript and CSS above. -->
<div id="map"></div>

{% endblock %}